<div id="bookmarks-header">
  <h2>Import Bookmarks</h2>
  <hr>
</div>

<section>
  <%= form_tag '/bookmarks/import', multipart: true do %>
    <%= radio_button_tag :import_format, 'yabs', :checked => 'true' %>YABS Comma Separate Values (CSV)<br />
    <%= file_field_tag :file %><br />
    <%= submit_tag "Import from file" %>
  <% end %>
</section>
