<div id="bookmarks-header">
  <h2>Import Bookmarks</h2>
  <hr>
</div>

<section>
  <%= form_tag '/bookmarks/import', multipart: true do %>
    <%= file_field_tag :file %>
    <br/>
    <%= submit_tag "Import from file" %>
  <% end %>
</section>


