<div id="bookmarks-header">
  <h2>Tag Bundles</h2>
  <%= link_to 'New', new_tag_bundle_path, class: 'btn btn-info' %>
  <hr>
</div>

<section>
  <% unless @tag_bundles.empty? %>
    <%= render :partial => 'tag_bundles/tag_bundle', :collection => @tag_bundles %>
    <%= will_paginate @tag_bundles %>
    <p class="tag_bundle_count"><%= pluralize(@tag_bundles.count, 'Tag Bundle') %></p> 
  <% else %>
    <h4>There are no tag bundles to display.</h4>
  <% end %>
</section>
