<section>
  <article class="tags">
    <h3>Your Tags</h3>
    <%= @user_tags.collect{|t| link_to "#{t} (#{t.count})", tag_path(t.name)}.join(" ").html_safe %>
  </article>

  <article class="tags">
    <h3>All Tags</h3>
    <%= @tags.collect{|t| link_to "#{t} (#{t.count})", tag_path(t.name)}.join(" ").html_safe %>
  </article> 
</section>

