$bookmark-url-color: #2991d6de;

.bookmark:hover {
  background-color: lighten($bookmark-url-color, 40%);
}

a.private {
  color: #94284c;
}

a.url {
  color: $bookmark-url-color;
}

.pagination {
  padding-top: 10px;
  .current {
    font-style: normal;
    background: #777;
  }
}

.bookmark_count {
  text-align: center;
}

#bookmarks-header {
  h2 {
    float: left;
    margin-bottom: 20px;
  }
  form, a {
    float: right;
  }
  hr {
    clear: both;
    border-top: 4px solid;
  }
}
