article {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbb;
  a.private {
    color: #990033;
  }
  .actions {
    float: right;
  }
}

a.url {
  color: #666;
  &:hover {
    color: black;
  }
}

.pagination {
  padding-top: 10px;
  .current {
    font-style: normal;
    background: #777;
  }
}

.bookmark_count {
  text-align: center;
}

#bookmarks-header {
  h2 {
    float: left;
    margin-bottom: 20px;
  }
  form, a {
    float: right;
  }
  hr {
    clear: both;
    border-top: 4px solid;
  }
}
