#main .container {
  overflow: auto;
  background: #fff; 
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

body { 
  background-color: #ccc9c5;
}

article {
  padding-bottom: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbb;
}

article:hover .actions {
  display: block;
}

.actions {
  display: none;
  float: right;
}

.section-title {
  margin-bottom: 10px;
}

.tags {
  a {
    color: #616161;
  }
}

a.nav-link-important {
  color: #ffdc34 !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: $info-color !important;
  border-color: $info-color !important;
}
