#main .container {
  overflow: auto;
  background: #fff; 
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

section {
  padding-bottom: 10px;
}

body { 
  background-color: #ccc9c5;
}

article {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbb;
}

.taglist {
  border: none;
  .tags {
    float: left;
    a {
      color: #fff;
      background: #7c2525;
    }
  }
}

.actions {
  float: right;
  a {
    color: #B22222;
  }
}

a.user {
  color: #ffdc34 !important;
}
