.container {
  margin: 0 auto;
  overflow: auto;
}

section {
  padding-bottom: 10px;
}

body { 
  background-color: #ccc9c5;
}

#main .container {
  background: #fff; 
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
